.trainImage {
    width: 100%;
    height: auto;
  }
  
  .trainList {
    display: flex;
    flex-wrap: wrap; 
  }
  
  .trainCard {
    width: calc(33.333% - 20px); 
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  .label {
    font-weight: bold;
  }
  
  .searchInput {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    font-size: 16px;
  }
  
  .showMoreButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  