.train_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .train_card {
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
  }
  
  .trainImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }


  .label{
    font-weight: bold;
  }
  